langchain
langchain-core
langchain-community

langchain-openai
langchain-mistralai
openai

chromadb

sentence-transformers

pypdf

tiktoken
python-dotenv

pandas
numpy

fastapi
uvicorn

streamlit

tqdm
requests